@import 'DR.scss';

.header{   
  // background-color: rgba(255,255,255,0.4)
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  &-title{
    display: flex;
    flex-direction: column;
    @include DQcolor-header();
    padding: 5px;
    width: 100px;
    margin-left: 25px;
    .level-name{
      margin: 5px;
      
    }
    .level{
      margin: 10px;
    }
  }
  &-lightbox{
    float: right;
    display: flex;
    justify-content: space-between;
    &-login{
      display: inline-block;
      text-decoration: none;
    }
    &-logout{
      display: inline-block;
    }
    
  }
}

.new{
  @include DQcolor-header()
}
.top{
  @include DQcolor-header()
}
.man{
  @include DQcolor-header()
}
.login{
  @include DQcolor-header()
  }
.logout{
  @include DQcolor-header()
}
