.wrapper{
  .report{
    width: 100%;
    display: flex;
    .form{
      margin: 10px;
      width: 50%;
      .input-box{
        display: inline-block;
        display: flex;
        flex-direction: column;
        
        .input-text{
          display: inline-block;
          font-size: 30px;
        }
      }
      .submit-btn{
        width: 100%;
        height: 50px;
        }
        }
      }
    
    .todo{
      margin: 10px;
      width: 50%;
      .right-box{
        .right-box__day{
          display: flex;
          flex-direction: column;
          .input-text1{
            font-size: 50px;
          }
          .input-text3{
            font-size: 40px;
          }
          .input-text5{
            font-size: 30px;
          }
        }
      .submit-btn{
        width: 100%;
      }
        }
    }
    }




