.reports
  .report
    .report_text
      今日もっともやるべき１つ
      %br 
      = @todo.todo1
    .report_Feedback
      今日やるべき大きなこと３つ
      %br
      = @todo.todo3
    .report_business
      今日やるべきこと５つ
      %br
      = @todo.todo5
