%p
  jq

  -#  function getMyQiita() {
  -#   const token = "f9478dd7b6a3aa21161729e957312a205ded52fe";
  -#   const uri = "http://qiita.com/api/v2/authenticated_user/items?page=1&per_page=10";
  -#   const options = {
  -#     headers : {
  -#       'Authorization' : 'Bearer ' + Token
  -#     },
  -#     method : 'get'
  -#   }
  -#   $.getJSON(url, function(data) {
  -#   console.log(url + " を読み込みました。");
  -#   console.log(data);
  -#   for (var i = 0; i < data.items.length; i ++) {
  -#   var obj = data.items[i];
  -#   console.log(i, obj.title, obj.link);
  -#     }
  -#       });
  -#   };



