.wrapper
  .sidebar
    .sidebar-menu
      .sidebar-box
        .sidebar-box__name 
          year
      .sidebar-box
        .sidebar-box__name
          month
      .sidebar-box
        .sidebar-box__name
          week
      .sidebar-box
        .sidebar-box__name
          day
  
  .contents
    .year
      .year-today
        2020年
      .year-title
        フリーになる
    .month
      .month-today
        3月
      .month-title
        タイピング秒速５
    .week
      .week-today
        10w
      .week-title
        毎日英語勉強
    .day
      .day-today
        3月1日
        .report
          report
        .graf
          graf

