// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.body{
 
  width: 100%;
  height: 100%;
}

.wrapper{
  background-color: rgba(255,255,255,0.4);
  width: 100vw;
  height: 100vh;
  display: flex;
  .sidebar{
    width: 13vw;
    font-size: 3vh;
    margin: 1vh;
    padding: 1vh;
    &-menu{
      .sidebar-box{
        text-align: center;
        &__name{
          width: 100px;
          height: 60px;
          display: inline-block;
          padding: 5px;
          margin: 10px;
          text-decoration: none;
          background: rgba(255,255,255,0);/*ボタン色*/
          color:rgba(255,255,255,1);/*ボタン色と同じに*/
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          border-bottom: solid 3px #627295;
          border-radius: 3px;/*角の丸み*/
          font-weight: bold;
          text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
          :active{
            -webkit-transform: translateY(4px);
            transform: translateY(4px);
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
            border-bottom: none;
          }
        }
      }
  }
}




  .contents{
    width: 90vw;
    margin: 1vh;
    padding: 1vh;
    color:rgba(255,255,255,1);
    .year{
      display: flex;
      font-size: 5vh;
      &-today{
        margin: 10px 30px 10px 10px;
      }
      &-title{

      }
    }
    .month{
      display: flex;
      font-size: 5vh;
      &-today{
        margin: 10px 30px 10px 10px;
      }
      &-title{

      }
    } 
    .week{
      display: flex;
      font-size: 5vh;
      &-today{
        margin: 10px 30px 10px 10px;
      }
      &-title{

      }
    }
    .day{
      font-size: 5vh;
      display: flex;
      &-today{
        margin: 10px 30px 10px 10px;
        display: flex;
        .report{
          width: 50%;
          margin-right: 3vw;
        }
        .graf{
          width: 50%;
          margin-left: 5vw;
        }
      }
    }
  }
}

.btn-square {
  
}
  
.btn-square:active {
  /*ボタンを押したとき*/

}