// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'modules/_DR.scss';

.body{
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.report-p{
  width: 50%;
  margin-top: 30px;
  .todos{
    width: 100%;
    .right-box{
      .input-box{
        width: 100%;
        .day-today{
          @include DQcolor;
        }
        .right-box__day{
          @include DQcolor;
        }
        .report_Feedback{
          @include DQcolor;
        }
        .report_business{
          @include DQcolor;
        }
      }
    }
  }

}
.submit-btn{
  width: 100%;
  font-size: 100px;
}






.day-p{
  width: 100%;
  .day-p-today{
    @include DQcolor;
    }
  }
.reports-p{
  width: 50%;
  .report-p{
    display: flex;
    flex-direction: column;
    &_text{
      @include DQcolor;
    }
    &_Feedback{
      @include DQcolor;
  }

    &_business{
      @include DQcolor;
    }
    &_tomorrow{
      @include DQcolor;
    }
  }
}