// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'modules/_DR.scss';

.contents{
  .year{
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    &-today{
      
    }
    &-title{

    }
  }
  .month{
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    &-today{
      
    }
    &-title{

    }
  }
  .week{
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    &-today{
      
    }
    &-title{

    }
  }
  .day{
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    &-today{
      
    }
    &-title{

    }
  }
  .todot{
    @include DQcolor;
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    &-today{
      
    }
    &-title{
 
  }
}
}
#heven{
  width: 100px;
  height: 50px;
  @include DQcolor;
    #modal-up{
      width:100%;
      height:100%;
      background-color: azure;
    }
  }
  // #modal-bg {
  //   display:none;
  //   width:100%;
  //   height:100%;
  //   background-color: rgba(0,0,0,0.5);
  //   position:fixed;
  //   top:0;
  //   left:0;
  //   z-index: 1;
  //   }