.wrapper  
  = render "layouts/sidebar"

  .contents
    .content
      .month
        .month_title
          = @memo.title
          = @memo.updated_at.strftime("%m月%d日")
          .month_text#foo
            = @memo.text
        