.sidebar
  .sidebar-menu
    .sidebar-box
      .sidebar-box__name 
        year
    .sidebar-box
      .sidebar-box__name
        month
    .sidebar-box
      .sidebar-box__name
        = link_to "week", weeks_path, class: 'week'
    .sidebar-box
      .sidebar-box__name
        = link_to "day", posts_path, class: 'day'