.sidebar
  .sidebar-menu
    .sidebar-box
      .sidebar-box__name 
        year
    .sidebar-box
      .sidebar-box__name
        month
    .sidebar-box
      .sidebar-box__name
        week
    .sidebar-box
      .sidebar-box__name
        day   